.btn {
    margin-right: 5px;
}
.markedAsDone{
    text-decoration: line-through;
    color:#777;
    opacity: 0.6;
}
td{
    width: 50%;
}
.tableActions{
    width: 105px;
}
.todoForm{
    padding-bottom: 60;
}
.todoForm input{
    width: 87%;
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
}